.logo {
  position: absolute;
  top: 1.5rem;
  left: 7rem;
  /* border: 2rem red solid; */
}

.contactDetailHeader {
  background: #0959da;
  color: #ffffff;
  padding: 0.3rem 0;
}
.bagImage {
  height: 80svh;
  color: #ffffff;
  background-color: #002e78;
}
