.logo {
  position: absolute;
  top: 1.5rem;
  left: 7rem;
  /* border: 2rem red solid; */
}

.contactDetailHeader {
  background: var(--main-Color);
  color: var(--secondary-Color);
  padding: 0.3rem 0;
}
.NavbarContainer {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#FirstNavSection {
  background: var(--secondary-Color);
}

.NavbarUll {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /*  to keep the links in center  */
  gap: 2rem;
  padding: 2em 0 1rem 0;
  list-style: none;
  z-index: 999;
  /* background-color: var(--main-Color); */
}

.NavbarUll li::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--main-Color);
  margin: auto;
  width: 0%;
}

.NavbarUll li:hover::after {
  width: 100%;

  transition: 0.5s;
}

/* register Button css  */
.registerBtn {
  padding: 0.8rem 1rem;
  font-weight: var(--boldFontweight);
  margin-right: 2rem;
}
